<!-- TODO: Address the <p></p> thing with css or <br /> ?? -->

<h1>Passenger Info</h1>

<% if !@passenger.is_deactivated%>

  <section class="passenger-summary">
    <h2>Passenger name: <%= @passenger.name %><h2>
    <h3>Phone number: <%= @passenger.phone_num %><h3>
    <p>Total charges: $<%= @passenger.get_total_charged %></p>
  </section>

  <section class="trips-for-passenger">
    <p></p>
    <h3>Trips:</h3>
    <%= render partial: "shared/table", locals: { page_title: "Trips ", table_trips: @passenger.trips} %>
    </section>


  <section class="passenger-options">
    <h3> Options </h3>
    <ul>
      <li><%= link_to "New Trip", passenger_trips_path(@passenger.id), method: :post %></li>
      <li><%= link_to "Edit", edit_passenger_path %></li>
      <li><%= button_to "Deactivate", mark_passenger_deactivated_path(@passenger.id),
        method: :patch, :disabled => @passenger.has_in_progress_trip?, data: { confirm: 'Are you sure?' } %></li>
    </ul>
  </section>

<% else %> <!-- passenger is deactivated-->
  <h2>Passenger <%= @passenger.id %> has been deactivated.</h2>
<% end %>
