<h2> Passenger name: <%= @passenger.name %> <h2>
  <h3>   Phone number: <%= @passenger.phone_num %> <h3>
    <p>
      Trips:
      <%= @passenger.trips.each do |trip| %>
      <% end %>
    </p>
    <ul>
      <li>
        <%= link_to "New Trip", new_trip_path %>
        <!-- Update to make sure the new trip will be for current passenger -->
      </li>
      <li>
        <%= link_to "Edit", edit_passenger_path %>
      </li>
      <li>
        <%= link_to "Delete", passenger_path(@passenger.id), method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
    </ul>
