<h1 class="page-header">Driver Info</h1>
<% if !@driver.is_deactivated %>
	<h2><%= @driver.name %></h2>
	<ul>
		<li>VIN: <%= @driver.vin %></li>
		<li>Car Make: <%= @driver.car_make %></li>
		<li>Car Model: <%= @driver.car_model %></li>
		<li>Average rating: <%= @driver.get_average_rating %></li>
		<li>Total earnings: $<%= @driver.get_total_earnings %> </li>
		<li>Status: <%= @driver.get_status %> </li>
	</ul>

	<ul>
		<li><%= link_to "Edit", edit_driver_path %></li>
		<li><%= button_to "Deactivate", mark_driver_deactivated_path(@driver.id),
			method: :patch, :disabled => @driver.has_in_progress_trip?, data: { confirm: 'Are you sure?' } %></li>
	</ul>

	<section>
    <h3>Trips:</h3>
    <%= render partial: "shared/table", locals: { page_title: "Trips", table_trips: @driver.trips } %>
  </section>
<% else %>
		<h2>Driver #<%= @driver.id %> is deactivated!</h2>
<% end %>
